/* Home page specific styling */
header {
    background-color: #0044cc;
    color: white;
    padding: 10px;
  }
  
  header .logo {
    display: flex;
    align-items: center;
  }
  
  header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav li {
    margin: 0 15px;
  }
  
  footer {
    background-color: #0044cc;
    color: white;
    text-align: center;
    padding: 10px;
  }
  