/* Styles for larger screen devices (larger than 768px) */
@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .course-work {
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }

    .certificate-buttons {
        display: flex;
        justify-content: center;
    }

    footer {
        display: flex;
        justify-content: space-around;
    }

    .course-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .course-list div {
        width: 45%;
        margin: 10px 0;
    }
}
